<div class="location-table">
    <h2>Locations</h2>
    
    <a [routerLink]="['/add-location']">
      <button class="add-location-btn" >Add Location</button>
    </a>
  <table class="table">
    <thead>
      <tr>
        <th>Coordinates (X)</th>
        <th>Coordinates (Y)</th>
        <th>Location Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="locations?.length === 0">
        <td colspan="4">No records found</td>
      </tr>
      <tr *ngFor="let location of locations">
        <td>{{ location.x_axis }}</td>
        <td>{{ location.y_axis }}</td>
        <td>{{ location.location_name }}</td>
        <td>
          <a [routerLink]="['/location-details', location.id]" [state]="{ data: location }">
            <button class="btn btn-sm btn-info">View Details</button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
